.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  min-height: 70px;
  margin: 0px 10%;
  padding: 2px;
}

.row {
  padding: 2px;
  border-radius: 10px;
  border-top-left-radius: 10px;
  margin: 0px 10%;
  display: flex;
  align-items: center;
  background: white;
  border-bottom: 1px solid #d8d8d8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  transition: background 0.2s;
}

.bookmarkRow {
  @extend .row;
  justify-content: flex-start;
  height: 50px;
}

.centeredRow {
  @extend .row;
  justify-content: center;
}

.newBookmarkRow {
  @extend .row;
  text-align: center;
  flex-direction: column;
  background-color: lightblue;
  p {
    margin: 0px;
  }
  form {
    width: 100%;
    display: flex;
    padding: 5px 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    input {
      flex-grow: 1;
      flex-shrink: 1;
    }
  }
}

.bookmarkRow > img,
.bookmarkRow > svg {
  margin: 0px 5px;
}

.bookmarkRow > span {
  flex-grow: 1;
}

.bookmarkRow:nth-child(even) {
  transform: perspective(100px) rotateX(1deg) translateY(3px) scale(1.001);
  background: linear-gradient(to bottom, #ffffff 0%, #efefef 100%);
}

.bookmarkRow:nth-child(odd) {
  transform: perspective(100px) rotateX(-1deg) translateY(3px);
  background: linear-gradient(to top, #ffffff 0%, #efefef 100%);
}

@media (max-width: 600px) {
  .row {
    margin: 0px 5%;
  }
}
