.container {
  display: flex;
  justify-content: center;
}

.collections {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.collections > div { 
  width: 250px;
  height: 250px;
  max-width: 100%;
  border-radius: 8px;
  margin: 10px;
  background-color: lightblue;
  // &:last-of-type {
  //   margin-right: auto;
  // }
}

.item {
  position: relative;
}

.item a {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

@media (max-width: 539px) {
  .collections {
    justify-content: space-around;
  }
}